{% extends 'base.html.twig' %}

{% block title %}{{ 'profile.title' | trans }}{% endblock %}

{% block body %}
    <h1 class="mb-3">{{ 'profile.title' | trans }}</h1>

    {% include 'divider.html.twig' with {'hidden_at': 'lg'} %}

    <h3>{{ 'profile.overview' | trans }}</h3>

    <div class="row row-cols-1 mb-3">
        <div>
            <span class="h6">{{ 'base.username' | trans }}:</span>
            <span>{{ user().username() }}</span>
        </div>
        <div>
            <span class="h6">{{ 'base.mail' | trans }}:</span>
            <span>
                {% if mail != null %}
                    {{ mail.mail() }}
                {% else %}
                    Keine Angabe
                {% endif %}
            </span>
        </div>
    </div>

    {% include 'divider.html.twig' with {'hidden_at': 'lg'} %}

    <div class="row row-cols-lg-2">
        <div class="col">
            <h3>{{ 'profile.update_password' | trans }}</h3>
            {{ form(update_password_form) }}
        </div>

        {% include 'divider.html.twig' with {'hidden_at': 'lg'} %}

        <div class="col">
            <div class="row">
                <h3>{{ 'profile.update_mail' | trans }}</h3>
                {{ form(update_mail_form) }}
            </div>
            {% if unverified_mail != null %}
                <div class="row">
                    <h3>{{ 'profile.verify_mail' | trans }}</h3>
                    <div>
                        <span class="h6 d-inline-block">E-Mail Adresse:</span>
                        <span class="d-inline-block">{{ unverified_mail.mail() }}</span>
                    </div>
                    {{ form(verify_mail_form, {'action':'/profile'}) }}
                </div>
            {% endif %}
        </div>
    </div>

    {% include 'divider.html.twig' with {'hidden_at': 'lg'} %}

    <div class="row row-cols-lg-2" {{ stimulus_controller('login-code-verify') }}>
        <div class="col">
            <h3>{{ 'profile.easy_login.title' | trans }}</h3>
            <ol>
                <li>{{ 'profile.easy_login.step1' | trans }}</li>
                <li>{{ 'profile.easy_login.step2' | trans }}</li>
            </ol>
            <div class="col container d-flex flex-column justify-content-around align-items-center" {{ stimulus_target('login-code-verify', 'selection') }} />
        </div>
    </div>
{% endblock %}
