{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="//vjs.zencdn.net/7.10.2/video-js.min.css" rel="stylesheet" />
    <link href="https://unpkg.com/@videojs/themes@1/dist/forest/index.css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="//vjs.zencdn.net/7.10.2/video.min.js"></script>
{% endblock %}

{% block body %}
    <div class="container p-3">
        <div class="row">
            <a class="btn btn-primary col-md-3" href="{% block back_path %}{% endblock %}">
                {{ ((app.request.get('_route') | split('-'))[0] ~ '.player.goback') | trans }}
            </a>
        </div>
        <div class="row py-3" {{ stimulus_controller('watchtime') }}>
            <video controls class="video-js vjs-theme-forest" data-setup="{}" {{ stimulus_target('watchtime', 'player') }} {{ stimulus_action('watchtime', 'ontimeupdate', 'timeupdate') }}>
                {% block player_source %}{% endblock %}
            </video>
        </div>
        {% block after_player %}{% endblock %}
    </div>
{% endblock %}
