{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://vjs.zencdn.net/8.0.4/video-js.css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="https://vjs.zencdn.net/8.0.4/video.min.js"></script>
{% endblock %}

{% block body %}
    <div class="container p-3">
        <div class="row">
            <a class="btn btn-primary col-md-3" href="{% block back_path %}{% endblock %}">
                {{ ((app.request.get('_route') | split('-'))[0] ~ '.player.goback') | trans }}
            </a>
        </div>
        <div class="row py-3" {{ stimulus_controller('watchtime') }}>
            {% if user() is not null %}
                <video
                        id="player"
                        class="video-js"
                        controls
                        {{ stimulus_target('watchtime', 'player') }}
                        {{ stimulus_action('watchtime', 'ontimeupdate', 'timeupdate') }}
                >
                    {% block player_source %}{% endblock %}
                </video>
                <script>
                  const player = videojs('player', {
                    audioOnly: false,
                  });

                  player.on('ready', () => {
                    const vol = Number.parseFloat(window.localStorage.getItem('volume'));

                    if (vol) {
                      player.volume(vol);
                    }
                  });

                  player.on('volumechange', () => {
                    window.localStorage.setItem('volume', player.volume());
                  });
                </script>
            {% else %}
                <div class="alert alert-danger">{{ 'base.no_account' | trans({color: 'dark', url: url('login', {target_path: app.request.query.get('target_path') ?? app.request.pathInfo })}) | raw }}</div>
            {% endif %}
        </div>
        {% block after_player %}{% endblock %}
    </div>
{% endblock %}
