{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="//vjs.zencdn.net/7.10.2/video-js.min.css" rel="stylesheet" />
    <link
            href="https://unpkg.com/@videojs/themes@1/dist/city/index.css"
            rel="stylesheet"
    />
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="//vjs.zencdn.net/7.10.2/video.min.js"></script>
{% endblock %}

{% block body %}
    <div class="container p-3">
        <div class="row">
            <a class="btn btn-primary col-md-3" href="{% block back_path %}{% endblock %}">
                {{ ((app.request.get('_route') | split('-'))[0] ~ '.player.goback') | trans }}
            </a>
        </div>
        <div class="row py-3" {{ stimulus_controller('watchtime') }}>
            {% if user() is not null %}
                <video controls class="video-js vjs-theme-city" {{ stimulus_target('watchtime', 'player') }} {{ stimulus_action('watchtime', 'ontimeupdate', 'timeupdate') }}>
                    {% block player_source %}{% endblock %}
                </video>
            {% else %}
                <div class="alert alert-danger">{{ 'base.no_account' | trans({color: 'dark', url: url('login', {target_path: app.request.query.get('target_path') ?? app.request.pathInfo })}) | raw }}</div>
            {% endif %}
        </div>
        {% block after_player %}{% endblock %}
    </div>
{% endblock %}
