{% extends 'player/index.html.twig' %}

{% block title %}{{ episode.title() }} - {{ season.title() }} - {{ series.title() }}{% endblock %}

{% block back_path %}{{ url('seasons', {'series': series.id()}) }}{% endblock %}

{% block player_source %}
    <source src="{{ url('tv-file', { series: series.id(), season: season.id(), episode: episode.id(), token: user().accessToken() }) }}" type="video/mp4">
{% endblock %}

{% block after_player %}
    <div class="row gap-2 bg-black bg-opacity-75 p-2">
        {% for i in 1..episode_count %}
            <a
                    class="col-1 btn {% if i == episode.id() %}btn-secondary{% else %}btn-primary{% endif %}"
                    href="{{ url('tv-player', { series: series.id(), season: season.id(), episode: i }) }}"
            >
                {% if user().hasWatched(season.episodes()[i]) %}
                    <img title="{{ 'base.watched' | trans() }}" class="float-start bg-black p-1 rounded-circle" src="{{ asset('eye.svg') }}" alt="already_watched" />
                {% endif %}
                <span class="float-end">
                    {{ i }}
                </span>
            </a>
        {% endfor %}
    </div>
{% endblock %}
