{% extends 'player/index.html.twig' %}

{% block title %}{{ episode.title() }} - {{ season.title() }} - {{ series.title() }}{% endblock %}

{% block back_path %}{{ url('seasons', {'series': series.id()}) }}{% endblock %}

{% block player_source %}
    <source src="{{ url('tv-file', { series: series.id(), season: season.id(), episode: episode.id(), token: user().accessToken() }) }}" type="video/mp4">
{% endblock %}

{% block after_player %}
    <div class="row gap-2 bg-black bg-opacity-75 p-2">
        {% for episodeEntry in season.getEpisodes() | sort((a, b) => a.episodeId <=> b.episodeId) %}
            <a
                    class="col-1 btn {% if episodeEntry.id == episode.id %}btn-secondary{% else %}btn-primary{% endif %}"
                    href="{{ url('tv-player', { episode: episodeEntry.id }) }}"
            >
                {% if user().hasWatched(episodeEntry) %}
                    <img title="{{ 'base.watched' | trans() }}" class="float-start bg-black p-1 rounded-circle" src="{{ asset('eye.svg') }}" alt="already_watched" />
                {% endif %}
                <span class="float-end">
                    {{ episodeEntry.episodeId }}
                </span>
            </a>
        {% endfor %}
    </div>
{% endblock %}
