{% extends 'base.html.twig' %}

{% block title %}{{ user.userIdentifier() }} | User Management{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 col-md-8">
            <h3>Filmanfragen von '{{ user.userIdentifier() }}'</h3>
            {% include 'media/scroller/index.html.twig' with {'medias': requests, 'user': user} only %}

            {% include 'pagination.part.html.twig' %}
        </div>
        <div class="d-flex flex-column col-12 col-md-4">
            <h3>
                {{ 'admin.user.roles.title' | trans }}:
            </h3>
            <!--
                {{ data |json_encode | raw }}
            !-->

            {{ form_start(form, {action: url('user_index', {'user': user.id()}) }) }}
                {{ form_widget(form.is_admin) }}
                {{ form_widget(form.submit, {attr: {class: "btn btn-primary my-3"}}) }}
            {{ form_end(form) }}

            <div class="row">
                <h3>
                    Administration:
                </h3>
                <button class="btn btn-outline-danger" data-bs-toggle="collapse" role="button" data-bs-target="#dangerous">
                    {{ 'admin.user.action.title' | trans }}
                </button>
                <a id="dangerous" class="collapse collapsed my-3 btn btn-danger" href="{{ url('user_delete', {'user': user.id()}) }}">
                    {{ 'admin.user.action.delete' | trans }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}