<div class="carousel-item{% if is_active %} active{% endif %}">
    <a
        style="{% apply spaceless %}
            background: {% if media.poster() %}
                url('{{ asset('images/' ~ media.getAsset() ~ '.webp') }}'),
                url('{{ asset('images/' ~ media.getAsset() ~ '.jpeg') }}'),
            {% endif %}
            url('{{ asset('images/missing.webp') }}'),
            url('{{ asset('images/missing.jpeg') }}'); background-position: center; background-repeat:no-repeat; background-size: cover; aspect-ratio: 1;
            {% endapply %}"
        href="{{ href }}"
        class="d-block w-100"></a>
    <div class="carousel-caption">
        <a
                href="{{ href }}"
                class="h3 bg-black bg-opacity-50 bg-blur-2 rounded-3"
        >
            {{ media.title() }}
            <br/>
            ({{ media.airDate() | date('d.m.Y') }})
        </a>
    </div>
</div>