{% extends 'base.html.twig' %}

{% block title %}
    {{ series_count }} Serien
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container border-2 rounded-3 p-3 bg-black bg-opacity-50" style="backdrop-filter: blur(12px)">
        {% include 'pagination.part.html.twig' %}

        <div class="row{% if series | length > 0 %} row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 mx-3 py-3 gy-xxl-3{% endif %}">
            {% for show in series %}
                <a
                        style="background: url(https://image.tmdb.org/t/p/w300{{ show.getPoster() }}) center top no-repeat;background-size: cover;aspect-ratio: 1;"
                        href="{{ url('seasons', { series: show.getTmdbId() }) }}"
                        class="col border rounded-3 p-3 border-primary"
                >
                    <h3 class="bg-black bg-opacity-50 bg-blur-2 rounded-3 text-center position-relative translate-middle-y top-50">{{ show.getTitle() }}</h3>
                </a>
            {% endfor %}

            {% if series | length == 0 %}
                {% include 'series/no_series.html.twig' %}
            {% endif %}
        </div>

        {% include 'pagination.part.html.twig' %}
    </div>
{% endblock %}
