{% extends 'base.html.twig' %}

{% block title %}{{ user_count }} Users | User Management{% endblock %}

{% block body %}
    <div class="container text-white text-center p-3">
        {% if status != '' %}
            <div class="row alert alert-success alert-dismissible">
                {{ ('admin.action_status.' ~ status) | trans }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
            {% include 'admin/divider.html.twig'     %}
        {% endif %}

        <div class="row row-cols-1 row-cols-lg-2">
            <div class="col">
                <div class="container">
                    <h1 class="">{{ 'admin.user.title' | trans }}</h1>

                    <div class="row my-3">
                        {% for prop in ['ID','Username','Is Admin'] %}
                            <div class="col">{{ prop }}</div>
                        {% endfor %}
                    </div>

                    {% include 'admin/divider.html.twig' with {'my': 2} %}
                </div>
                <div class="container even-odd-children">
                    {% for user in users %}
                        <a class="row" href="{{ url('user-requests', {'user': user.id()}) }}">
                            <div class="col">{{ user.getId() }}</div>
                            <div class="col">{{ user.getUsername() }}</div>
                            <div class="col">{% if user.isAdmin() %}yes{% else %}no{% endif %}</div>
                        </a>
                    {% endfor %}
                </div>
            </div>

            {% include 'admin/divider.html.twig' with {'hidden_at': 'lg'} %}

            <div class="col">
                <h1>{{ 'admin.register.title' | trans }}</h1>
                <br/>
                {% for message in messages ?? [] %}
                    <h6 class="text-danger">{{ message }}</h6>
                {% endfor %}
                {{ form( register_user_form ) }}
            </div>
        </div>

        {% include 'admin/divider.html.twig' %}

        <div class="row row-cols-1 row-cols-lg-2">
            <div class="col">
                <h1 class="text-white">{{ 'admin.command.title' | trans }}</h1>
                <br/>
                <div class="row row-cols-1 gy-3 px-5">
                    {% for command in [
                        {
                            'command': 'update-movies',
                            'id': 'update_movies',
                            'info': true,
                        },
                        {
                            'command': 'update-series',
                            'id': 'update_series',
                        },
                        {
                            'command': 'convert-old-movies',
                            'id': 'convert_old_movies',
                        },
                        {
                            'command': 'update-movie-infos',
                            'id': 'update_movie_infos',
                        }
                    ] %}
                        {% set translationKey = 'admin.command.' ~ command.id ~ '.' %}
                        <a
                            class="col btn btn-primary"
                            href="{{ url('command', {cmd: command.command}) }}"
                        >
                            {{ (translationKey ~ 'label') | trans }}
                        </a>
                        {% if command.info is defined %}
                            <div class="alert alert-info">
                                {{ (translationKey ~ 'info') | trans }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
