{% extends 'base.html.twig' %}

{% block title %}{{ user_count }} Users | User Management{% endblock %}

{% block body %}
    {% if status != '' %}
        <div class="row alert alert-success alert-dismissible">
            {{ ('admin.action_status.' ~ status) | trans }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {% include 'admin/divider.html.twig' %}
    {% endif %}

    <div class="row row-cols-1 row-cols-lg-2">
        <div class="col">
            <div class="container">
                <h1 class="">{{ 'admin.user.title' | trans }}</h1>

                <div class="row my-3">
                    {% for prop in ['ID','Username','Is Admin'] %}
                        <div class="col">{{ prop }}</div>
                    {% endfor %}
                </div>

                {% include 'admin/divider.html.twig' with {'my': 2} %}
            </div>
            <div class="container even-odd-children">
                {% for user in users %}
                    <a class="row" href="{{ url('admin_user', {'user': user.id()}) }}">
                        <div class="col">{{ user.id() }}</div>
                        <div class="col">{{ user.username() }}</div>
                        <div class="col">{% if user.isAdmin() %}yes{% else %}no{% endif %}</div>
                    </a>
                {% endfor %}
            </div>

            {% include 'pagination.part.html.twig' %}
        </div>

        {% include 'admin/divider.html.twig' with {'hidden_at': 'lg'} %}

        <div class="col">
            <h1>{{ 'admin.invitation.title' | trans }}</h1>
            <br/>
            {% for message in messages ?? [] %}
                <h6 class="text-danger">{{ message }}</h6>
            {% endfor %}
            {{ form_start(create_invite_form, {attr:{class: "m-1 row"}}) }}
                {{ form_widget(create_invite_form.submit, {attr:{class:"btn btn-primary"}}) }}
            {{ form_end(create_invite_form) }}
            <br/>
            {% if invitation %}
                {% set link = url('register', {'id': invitation.id()}) %}
                <button
                        class="m-1 btn btn-outline-primary"
                        {{ stimulus_controller('copy') }}
                        {{ stimulus_target('copy', 'button') }}
                        data-copy-link-value="{{ link }}"
                        {{ stimulus_action('copy', 'copy') }}
                        data-bs-title="{{ 'admin.invitation.link.copied' | trans }}"
                        data-bs-placement="top"
                >
                    {{ 'admin.invitation.link.copy' | trans }}: {{ link }}
                </button>
            {% endif %}
        </div>
    </div>

    {% include 'admin/divider.html.twig' %}

    <div class="row row-cols-1 row-cols-lg-2">
        <div class="col">
            <h1 class="text-white">{{ 'admin.command.title' | trans }}</h1>
            <br/>
            <div class="row row-cols-1 gy-3 px-5">
                {% for command, hasInfo in commands %}
                    {% set translationKey = 'admin.command.' ~ command ~ '.' %}
                    <a
                        class="col btn btn-primary"
                        href="{{ url('command', {cmd: command}) }}"
                    >
                        {{ (translationKey ~ 'label') | trans }}
                    </a>
                    {% if hasInfo %}
                        <div class="alert alert-info">
                            {{ (translationKey ~ 'info') | trans }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col">
            <h1 class="text-white">Disk Space:</h1>
            <ul>
                {% for i, size in sizes %}
                    <li class="row"><span class="col-3 badge p-2 m-1 text-{{ cycle(['dark', 'light', 'light'], i) }} bg-{{ cycle(['primary', 'secondary', 'dark'], i) }}">{{ ('admin.disk_space.' ~ sizes_map[i]) | trans }}</span><span class="text-end col-8">{{ size | bytes }}</span></li>
                {% endfor %}
                <li class="row"><span class="col-3 badge p-2 m-1 text-white bg-black">{{ 'admin.disk_space.free' | trans }}</span><span class="text-end col-8">{{ free_size | bytes }}</span></li>
            </ul>
            <div class="row progress bg-black mx-3">
                {% for i, size in sizes %}
                    <div class="progress-bar bg-{{ cycle(['primary', 'secondary', 'dark'], i) }}" style="width: {{ size / total_size * 100 }}%"></div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
