{% extends 'base.html.twig' %}

{% block title %}
    {{ movie_count }} Filme
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ form_start(movie_search) }}

    <div class="row">
        <div class="col col-2">
            {{ form_label(movie_search.query) }}
        </div>
        <div class="col col-8">
            {{ form_widget(movie_search.query) }}
        </div>
        <div class="col col-2">
            {{ form_widget(movie_search.submit, {'attr':{'class':'btn-primary d-block position-relative start-50 top-50 translate-middle'}}) }}
        </div>
    </div>
    <div class="row">
        {{ form_errors(movie_search.query) }}
    </div>

    {{ form_end(movie_search) }}

    <div class="row container">
        <h1>Filme: </h1>

        {% if movies | length == 0 %}
            {% include 'movies/no_movies.html.twig' %}
        {% else %}
            {% include 'media/scroller/index.html.twig' with {'medias': movies, 'route': 'movie-player'} only %}
        {% endif %}

        {% include 'pagination.part.html.twig' %}
    </div>
{% endblock %}
