<div class="row text-white">
    <h1 class="text-danger">
        {{ 'movie.none_found.title' | trans | raw }}
    </h1>

    <div>
        <h4>{{ 'movie.none_found.instructions.title' | trans | raw }}</h4>

        <ol>
            <li>{{ 'movie.none_found.instructions.1' | trans | raw }}</li>
            <li>{{ 'movie.none_found.instructions.2' | trans | raw }}</li>
            <li>{{ 'movie.none_found.instructions.3' | trans({'url': url('command', {cmd: 'update-movies'})}) | raw }}</li>
        </ol>
    </div>

    <div>
        {% set id = 634649 %}
        <h4>{{ 'movie.none_found.example.title' | trans | raw }}</h4>

        <p>{{ 'movie.none_found.example.1' | trans | raw }}</p>

        <ul>
            <li>https://www.themoviedb.org/movie/{{ id }}-spider-man-no-way-home</li>
        </ul>

        <p>{{ 'movie.none_found.example.2' | trans({'id': id}) | raw }}</p>

        <ul>
            <li>https://www.themoviedb.org/movie/<code>{{ id }}</code>-spider-man-no-way-home</li>
        </ul>

        <p>{{ 'movie.none_found.example.3' | trans({'filename': id ~ '.mp4'}) | raw }}</p>
    </div>
</div>
