{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container my-5 text-white">
        {% include 'logo.part.html.twig' %}

        {% if error %}
            <div class="text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="row row-cols-lg-2 row-cols-1">
            <div class="col">
                <h4 class="text-center">Login with credentials</h4>
                {{ form_start(login_form, {'attr': {'class': 'm-lg-5 m-3'}}) }}
                    {{ form_widget(login_form.csrf, {value: csrf_token('authenticate')}) }}
                    {{ form_widget(login_form.target_path, {value: target_path}) }}
                {{ form_end(login_form) }}
            </div>
            <div class="col" {{ stimulus_controller('login-code') }}>
                <h4 class="my-3 text-center">Login with QR</h4>
                <div class="d-flex justify-content-center" {{ stimulus_target('login-code', 'qr') }} />
            </div>
        </div>
    </div>
{% endblock %}
