<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="{{ 'base.og.title' | trans }}" />
    <meta property="og:description" content="{{ 'base.og.description' | trans }}"/>
    <meta property="og:image" content="https://movies.richee.me/favicon.ico" />

    <title>{% block title %}{% endblock %} | Richee.Me Movies</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}

        <style>
            body {
                overflow-x: hidden;

                {% if backdrop is defined and backdrop is not null %}
                    background: url("https://image.tmdb.org/t/p/original{{ backdrop.file() }}") center center no-repeat fixed;
                    background-size: cover;
                {% endif %}
            }
        </style>
    {% endblock %}

    {% block scripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="bg-dark text-white">
    {% if isLoggedIn() %}
        <div class="container rounded bg-blur-3 bg-opacity-50 bg-black">
            {% include 'menu.part.html.twig' %}
        </div>
        <div
            class="position-fixed bottom-0 start-0 p-3 w-100"
            style="z-index: 11"
            {{ stimulus_controller('notify') }}
            {{ stimulus_target('notify', 'list') }}
            data-notify-fetch-value="{{ url('api_list_messages') }}"
            data-notify-ack-value="{{ url('api_ack_message') }}"
        >
        </div>
    {% endif %}
    {% block body %}{% endblock %}
</body>
</html>
