<!DOCTYPE html>
<html>
<head>
    {% set titleContent %}{% block title %}{% endblock %} - {{ 'base.title' | trans }}{% endset %}
    {% set _block_og_image %}{% block og_image %}{% endblock %}{% endset %}
    <title>{{ titleContent }}</title>
    <meta charset="UTF-8"/>
    <meta property="og:title" content="{{ titleContent }}" />
    <meta property="og:description" content="{% block og_description %}{{ 'base.description' | trans }}{% endblock %}"/>
    <meta property="og:image" content="{% if _block_og_image is not empty %}https://image.tmdb.org/t/p/w300{{ _block_og_image }}{% else %}https://movies.richee.me/favicon.ico{% endif %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}

        <style>
            body {
                overflow-x: hidden;

                {% if backdrop is defined and backdrop is not null %}
                    background: url("https://image.tmdb.org/t/p/original{{ backdrop.file() }}") center center no-repeat fixed;
                    background-size: cover;
                {% endif %}
            }
        </style>
    {% endblock %}

    {% block scripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="bg-dark text-white">
    {% if isLoggedIn() %}
        {% include 'menu.part.html.twig' %}
        <div
            class="position-fixed bottom-0 start-0 p-3 w-100"
            style="z-index: 11"
            {{ stimulus_controller('notify') }}
            {{ stimulus_target('notify', 'list') }}
            data-notify-fetch-value="{{ url('api_list_messages') }}"
            data-notify-ack-value="{{ url('api_ack_message') }}"
        >
        </div>
    {% endif %}
    <div class="container border-2 rounded-3 p-3 bg-black bg-opacity-50 bg-blur-2">
        {% block body %}{% endblock %}
    </div>
</body>
</html>
