{% set menuItems = [
    {
        'id': 'movies',
        'routes': [
            'movie-player'
        ]
    },
    {
        'id': 'series',
        'routes': [
            'seasons',
            'tv-player'
        ]
    },
    {
        'id': 'request',
        'display': isLoggedIn()
    },
    {
        'id': 'admin',
        'display': isAdmin(),
        'sub_items': [
            'admin_index',
            'admin_requests'
        ]
    },
    {
        'id': 'profile',
        'display': isLoggedIn()
    },
    {
        'id': 'logout',
        'display': isLoggedIn()
    }
] %}
{% set route = app.request.get('_route') %}

<nav class="navbar navbar-dark navbar-expand-sm my-3 rounded container-lg bg-opacity-50 bg-black position-relative" style="z-index: 2">
    <div class="container-fluid">
        <a rel="nofollow" class="navbar-brand" href="{{ url('movies') }}">
            {{ img('banner', {'alt': 'icon', 'height': 32, 'width': 200}) | raw }}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="navbar-nav">
                {% for item in menuItems %}
                    {% if item.display is not defined or item.display %}
                        {% set isSubMenu = item.sub_items is defined %}

                        <li class="nav-item{% if isSubMenu %} dropdown{% endif %}">
                            {% if isSubMenu %}
                                {% set isActive = route in item.sub_items %}
                                <a
                                    class="nav-link dropdown-toggle{% if isActive %} active{% endif %}"
                                    data-bs-toggle="dropdown"
                                    role="button"
                                >
                                    {{ ('menu.item.' ~ item.id) | trans }}
                                </a>
                                <ul id="{{ item.id }}-sub" class="dropdown-menu dropdown-menu-dark">
                                    {% for subItem in item.sub_items %}
                                        <li class="dropdown-item">
                                            <a href="{{ url(subItem) }}">
                                                {{ ('menu.item.' ~ subItem) | trans }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                {% set link = item.id ?? item %}
                                {% set isActive = route == link or (item.routes is defined and route in item.routes) %}
                                <a
                                        class="nav-link{% if isActive %} active{% endif %}"
                                        href="{{ url(link) }}"
                                >
                                    {{ ('menu.item.' ~ link) | trans }}
                                </a>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% if not isLoggedIn() %}
            <span>
                {{ 'base.no_account' | trans({color: 'primary', url: url('login', {target_path: app.request.query.get('target_path') ?? app.request.pathInfo })}) | raw }}
            </span>
        {% endif %}
    </div>
</nav>