<nav class="pagination justify-content-center my-3">
    {% set pagesAfter = total_pages - page - 1 %}

    {% set isLastPage = page >= total_pages - 1 %}
    {% set isFirstPage = page <= 0 %}

    {% set prePages = page < 2
        ? page - 1
        : (pagesAfter < 2
            ? 2 - pagesAfter
            : 1
        )
    %}

    {% set postPages = page < 2
        ? 3 - page
        : (pagesAfter < 2
            ? pagesAfter - 1
            : 1
        )
    %}

    <!--
        page: {{ page }}
        total_pages: {{ total_pages }}
        pagesAfter: {{ pagesAfter }}
        isLastPage: {{ isLastPage }}
        isFirstPage: {{ isFirstPage }}
        prePages: {{ prePages }}
        postPages: {{ postPages }}
    -->

    <li class="page-item{% if isFirstPage %} disabled{% endif %}">
        <a class="page-link"{% if not isFirstPage %} href="?page={{ page - 1 }}"{% endif %}>&NestedLessLess;</a>
    </li>

    {% if prePages > -1 %}
        {% for i in 0..(max(min(prePages, 4), 0)) %}
            {% set target_page = page - (prePages - i) - 1 %}
            <li class="page-item">
                <a class="page-link" href="?page={{ target_page }}">{{ target_page + 1 }}</a>
            </li>
        {% endfor %}
    {% endif %}

    <li class="page-item active">
        <a class="page-link">{{ page + 1 }}</a>
    </li>

    {% if postPages > -1 %}
        {% for i in 0..postPages %}
            {% set target_page = page + i + 1 %}
            {% set disabled = target_page >= total_pages %}

            <li class="page-item{% if disabled %} disabled{% endif %}">
                <!-- target: {{ target_page }}, disabled= {{ disabled }} -->
                <a class="page-link{% if not disabled %}" href="?page={{ target_page }}{% endif %}">{{ target_page + 1 }}</a>
            </li>
        {% endfor %}
    {% endif %}

    <li class="page-item{% if isLastPage %} disabled{% endif %}">
        <a class="page-link"{% if not isLastPage %} href="?page={{ page + 1 }}{% endif %}">&NestedGreaterGreater;</a>
    </li>
</nav>
